.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.order form {
    display: flex;
    margin: 30px auto;
    height: 250px;
}
.order-options {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.commentary-zone {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.commentary-zone>textarea {
    width: 95%;
    height: 70%;
}
.amount {
    display: flex;
    flex-direction: column;
    width: 165px;
    align-items: center;
    justify-content: space-around;
}
.amount>input {
    width: 45px;
}
.leftSide {
    width: 430px;
    border-radius: 7px;
    padding: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4cbad8;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 85%;
}
td, th {
    padding: 2px 3px;
    border: 1px solid black;
    text-align: center;
}
th>img {
    width: 16px;
}
.tools-btn {
    width: 35px;
    height: 35px;
}
.tools-btn>img {
    width: 100%;
    height: 100%;
}
.rowSelected {
    background-color: #4cbad8;
}
.svg-view {
    height: 75%;
    background-color: white;
    border-radius: 7px;
    padding: 3px;
}