.drag-zone {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #f3e8e8;
}
.drag-zone>div:last-child {
    margin: 3px 0;
    display: flex;
    justify-content: center;
}
.fileList {
    height: 100%;
    width: 425px;
    margin: 0 5px;
    overflow: auto;
    padding-left: 20px;
}