extends layout

block content
  h1 Добро пожаловать #{email}!!!
  h2 Поздравляем вы были успешно зарегистрированы !!!
  h3 Что бы продолжить работу пройдите по ссылке:  
     a(href=home) #{title} 
  
