@media print {
    .submitPricer, .headerFixed {
        display:none;
    }
    .pricer {
        margin-top: 0px !important;
    }
}
.pricer {
    width: 925px;
    margin: 65px auto 20px;
}
.pricer>header {
    text-align: center;
}
.pricer>header>section>b {
    font-size: 18px;
}
.exampleForm {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 18px 30px;
    margin-bottom: 20px;
}
.exampleForm>div>span {
    width: 90px;
    display: inline-flex;
}
.codeEDRPOU b {
    padding: 2px 50px;
    border: 2px solid black;
}
.creditInfo {
    display: flex;
    align-items: center;
}
.creditInfo>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.creditInfo>div:first-child b {
    border-bottom: 2px solid black;
}
.creditInfo>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 110px;
}
.creditInfo>div:last-child b {
    padding: 2px 50px;
    border: 2px solid black;
}
.pricer>section {
    display: flex;
    flex-direction: column;
}
.pricer>section>b {
    font-size: 24px;
    text-align: center;
}
.sellerInfo {
    border-top: 3px solid black;
    padding-top: 10px;
    display: flex;
}
.sellerInfo>span {
    min-width: 130px;
}
.sellerInfo>p {
    display: flex;
    flex-direction: column;
    white-space: pre-line
}
.buyerInfo {
    display: flex;
}
.buyerInfo>span {
    min-width: 130px;
}
.buyerInfo>p {
    display: flex;
    flex-direction: column;
    white-space: pre-line
}
.OrderDate {
    display: flex;
}
.OrderDate span:first-child {
    min-width: 130px;
}
.priceTable {
    border: 3px solid;
}
.priceTable th, .priceTable td {
    border: 2px solid;
}
.PDWPrice {
    display: flex;
    justify-content: flex-end;
}
.PDWPrice tr>th:first-child {
    text-align: end;
}
.PDWPrice tr>th:last-child {
    min-width: 150px;
    text-align: end;
}
.didBy {
    border-top: 3px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 20px;
}
.didBy b {
    margin-right: 15px;
}
.didBy span {
    margin-top: 45px;
    border-top: 2px solid;
}
.submitPricer {
    text-align: center;
    margin: 20px 0;
}
.submitPricer>button {
    padding: 5px 10px;
}
.orderList {
    border-collapse: collapse;
    table-layout: fixed;
    width: 85%;
}
.orderList td, .orderList th {
    padding: 2px 3px;
    border: 1px solid black;
    text-align: center;
}
.orderList th>img {
    width: 16px;
}
.submitPricer button {
    position: fixed;
    top: 60%;
    right: 10px;
    padding: 5px 15px;
    background-color: #727272;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.5s ease, color 0.5s ease;
}
.submitPricer button:hover {
    color: #4cbad8;
    border-color: #4cbad8;
}
.submitPricer button:focus {
    outline: none;
}
.submitPricer button:active {
    box-shadow: inset 0 0 10px 2px #333637;
}