/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.base-container .login-header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.base-container .content {
    display: flex;
    flex-direction: column;
}
.base-container .content .image {
    width: 21em;
    margin-bottom: 2em;
}
.base-container .content .image img {
    width: 100%;
    height: 100%;
}
.base-container .content .form {
    /* margin-top: 2em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.base-container .content .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-bottom: 0;
}
.base-container .content .form .form-group label {
    font-size: 20px;
}
.base-container .content .form .form-group input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #dadada;
    border: 0;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all 250ms ease-in-out;
}
.base-container .content .form .form-group input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96;
}
.base-container .footer {
    /* margin-top: 3em; */
    height: 41.2px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.notification {
    z-index: 999;
    animation: startNotification, endNotification 1.5s;
    animation-duration: .3s, .3s;
    animation-delay: 0s, 1.5s;
    position: fixed;
    left: 15px;
    bottom: 15px;
    padding: 15px 25px;
    background: rgb(238,19,19);
    background: linear-gradient(20deg, rgba(238,19,19,1) 0%, rgba(255,215,35,1) 100%);
    border-radius: 5px;
}
.rightNotification {
    z-index: 999;
    animation: startNotification, endNotification;
    animation-duration: .3s, .3s;
    animation-delay: 0s, 1.5s;
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 15px 25px;
    background: rgb(238,19,19);
    background: linear-gradient(20deg, rgba(238,19,19,1) 0%, rgba(255,215,35,1) 100%);
    border-radius: 5px;
}
.notification span, .rightNotification span {
    font-weight: 600;
    font-family: sans-serif;
    color: white;
}

@keyframes startNotification {
    from {bottom: -100px;}
    to {bottom: 15px;}
}
@keyframes endNotification {
    from {opacity: 1;}
    to {opacity: 0;}
}

.LoaderIcon {
    width: 32px;
    position: absolute;
    left: 300px;
    animation: loader 1s steps(8) infinite;
}
.LoaderIcon img {
    transform: scaleX(-1);
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}